absl-py==2.1.0
attrs==24.3.0
blinker==1.9.0
click==8.1.8
Flask==3.1.0
Flask-Cors==5.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
ml_collections==1.0.0
numpy==2.2.1
open-spiel==1.5
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.2.1
scipy==1.14.1
six==1.17.0
uuid==1.30
Werkzeug==3.1.3
